
h1.scrolled {
  left: 30px;
  top: 15px;
  position: fixed;
}
.jobTitle.scrolled {
  left: 30px;
  top: 50px;
  position: fixed;
  font-size: 13pt;
}
.logos.scrolled {
  opacity: 0;
}
img.scrolled {
 opacity: 0;
}
.arrow.scrolled {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
img {
  transition: all 0.3s ease;
}
p.scrolled {
  opacity: 0;
}
.about-me {
  padding-top: 250px;
}
.intro {
  display: flex;
  margin-top: 400px;
  transition: margin-top 0.5s ease;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logos:hover {
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  border-color: #493548;
  transition: all 0s ease;
}
header.scrolled + .intro {
  margin-top: 100px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.socialMedia {
  /* display: flex; */
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  bottom: 35%;
}
.socialMedia img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.socialMedia li {
  list-style-type: none;
}
.intro #profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 20px;
}

.intro-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #80b192;
}
.ocupancy {
  padding-bottom: 15px;
}
.intro-text h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #80b192;
}
.cert-list {
  padding-bottom: 20px;
}
section {
  padding: 50px 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #a1e887;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffe2d1;
}

ul {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
  color: #ffe2d1;
}

ul li h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #80b192;
}
.arrow {
  width: 100px;
  position: absolute;
  bottom: 0;
}
ul li p {
  font-size: 16px;
  color: #b5c2b7;
  margin-bottom: 5px;
}
.skills-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-list ul {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 900px) {
  #nav-bar.checked {
    right: 0;
    top: 6.5%;
    background-color: #493548;
    padding-top: 2%;
    
  }
  #checkbox{
    right: 0;
    top: 6.5%;
    display: none;
  }
  #nav-bar.checked ul {
    display: grid;
    text-align: right;
    padding-right: 20%;
  }
  
  #nav-bar.checked li {
    display: grid;
  }
  
@media (max-width: 600px) {
  .socialMedia {
    display: flex;
    width: 100%;
    height: 100px;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    left: 0;
  }
  .skills-list {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
  }
  .skills-list ul {
    padding-left: 0px;
    padding-right: 0px;
    width: 250px;
  }

  header {
    text-align: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* Adjust some styles */
  .intro-text {
    max-width: 80%;
    margin: 0 auto;
  }

  /* Center #image using display: block and margin: auto */
  #image {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100px;
  }
}

@media (prefers-reduced-motion) {
  .container {
    transition: none;
  }
}}