*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #4b4e6d;
    font-family: "Montserrat", sans-serif;
  }
  header {
    background-color: #493548;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
  }
  
  header.scrolled {
    background-color: #493548;
    background-image: none;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .hamburger {
    cursor: pointer;
    position: fixed;
    top: 1%;
    right: 5%;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  #nav-bar {
    display: none;
  }
  #nav-bar.checked {
    display: flex;
    position: fixed;
    top: 2.5%;
    right: 10%;
    padding-right: 10px;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  .hamburger input:checked .nav-bar {
    display: block;
  }

  nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #6a8d92;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #a1e887;
  }